Django
djangorestframework
djangorestframework-simplejwt
django-filter
mysqlclient
Pillow
drf-yasg
django-cors-headers
alibabacloud-ims20190815
alibabacloud_ram20150501
alibabacloud_tea
alibabacloud_tea_util
alibabacloud_tea_openapi
alibabacloud_ecs20140526
alibabacloud_domain20180129
alibabacloud_alidns20150109
alibabacloud_slb20140515
alibabacloud_rds20140815
alibabacloud_vpc20160428
alibabacloud_waf_openapi20211001
alibabacloud_nas20170626
alibabacloud_sls20201230
alibabacloud_oss_v2
python-dateutil
openpyxl
pypinyin
pyvmomi
python-dotenv
